!!!

%html{lang: "en", "ng-app" => "myApp"}
  %head
    %link{ rel: "stylesheet", href: "app.css" }
    %title Christopher.Farm
  %body
    .main{ ng_controller: "MyCtrl" }
      test
      {{ test }}
    %script{ src: "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js" }
    %script{ src: "app.js" }
